//Iconos Blancos
.icon-html5-w{
  background-position: -40px 0px;
}
.icon-css3-w{
  background-position: -80px 0px;
}
.icon-jquery-w{
  background-position: -120px 0px;
}

.icon-computer-w{
  background-position: -160px 0px;
}
.icon-tablet-w{
  background-position: -200px 0px;
}
.icon-mobile-w{
  background-position: -240px 0px;
}

//El mismo en blanco y negro
.icon-bootstrap{
  background-position: -280px 0px;
}


.icon-codekit-w{
  background-position: -320px 0px;
}
.icon-sketch-w{
  background-position: -360px 0px;
}
.icon-ps-w{
  background-position: -400px 0px;
}
.icon-ai-w{
  background-position: -440px 0px;
}
.icon-php-w{
  background-position: -480px 0px;
}
.icon-git-w{
  background-position: -0px -80px;
}