
//Verde
@colorPrincipal: #24aa92;
//Negro
@colorSecudario: #171717;
//Blanco Puro
@colorW: #ffffff;
//BlancoGris
@colorWG:#f3f3f3;
//@Gris
@colorG:#cdcdcd;

//Fuentes
@fontPrincipal: 'Roboto', Arial, sans-serif;
@fontSecundaria: 'Racing Sans One', Arial, sans-serif;

//Tamanyos fuentes


html, body, main{
  height: 100%;
  width: 100%;
  background-color: @colorSecudario;
}
body{
  overflow: hidden;
}
img{
  max-width: 100%;
}
header{
  display: block;
  position: absolute;
  background-color: @colorPrincipal;
}

main{
  position: relative;
}

section{
  width: 100%;
  height: 100%;
  position: relative;
}
.home{
  background-color: #1f1f1f;
  background-repeat: no-repeat;
  background-position: center;


  .containHome{
    width: 600px;
    height: 100px;
    margin: 0px auto;
    position: relative;
    top: 40%;

    h1{
      color: @colorPrincipal;
      text-align: center;
      padding-top: 30px;
      font-family: @fontPrincipal;
      font-weight: 700;

      span{
        font-weight: 100;
      }
    }
  }

  img.logo{
    display: block;
    margin: 0px auto;
  }

  .scrollDown{
    width: 100%;
    color: @colorW;
    position: absolute;
    bottom: 0px;
    text-align: center;
  }
}


header{
  position: fixed;
  z-index: 100;
  left: -320px;
  width: 320px;
  height: 100%;
  background-color: @colorPrincipal;

  transition-property: left;
  transition-duration: .4s;
  transition-timing-function: cubic-bezier(.02,.62,.45,.85);
  transition-delay: 0s;

  .menu{
    cursor: pointer;
    position: absolute;
    top: -35px;
    right: -50px;
    display: block;
    width: 50px;
    height: 40px;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
  }

  h1{
    text-indent: -999999px;

    a{
      display: block;
      img{
        width: 50%;
        display: block;
        margin: 40px auto 0px auto;
      }
    }

  }


  nav{
    margin-top: 120px;
    ul{
      overflow: hidden;

      li{
        display: block;
        font-family: @fontPrincipal;
        font-weight: 100;
        text-align: center;

        transition-property: background-color;
        transition-duration: .4s;
        transition-timing-function: cubic-bezier(.02,.62,.45,.85);
        transition-delay: 0s;

        a{
          padding: 12px 0px;
          display: block;
          font-family: @fontPrincipal;
          font-weight: 100;
          text-align: center;
          color: @colorW;
          text-decoration: none;

          transition-property: color;
          transition-duration: .4s;
          transition-timing-function: cubic-bezier(.02,.62,.45,.85);
          transition-delay: 0s;

          &:hover{
            color: @colorSecudario;
          }
        }

        &:hover{
          color: @colorW;
          background-color: #46bba6;
        }
      }
    }
  }

}

header.headerOpen{
  left: 0px;
}

.currentSection{
  transition-property: margin-left;
  transition-duration: .4s;
  transition-timing-function: cubic-bezier(.02,.62,.45,.85);
  transition-delay: 0s;
}

.currentSection.moveSection{
  margin-left: 320px;
}



//Animacion BT MENU
@color: #fff;		  // icon color
@blue: #158fef;	  // background color
@animation: 0.6s;	// animation speed
@scale: 1;
.hamburglar {
  transform: scale(@scale);
  margin: 40px auto;
  position: relative;
  display: block;
  width: 38px;
  height: 38px;
  -webkit-touch-callout: none;
  user-select: none;
}
// transition mask
.path-burger {
  position: absolute;
  top: 0;
  left: 0;
  height: 38px;
  width: 38px;
  // two masks because... browser support.
  mask: url(#mask);
  -webkit-mask-box-image: url(https://raygun.io/upload/mask.svg);
}

.animate-path {
  position: absolute;
  top: 0;
  left: 0;
  width: 38px;
  height: 38px;
}

// what this does is create a small square that I then rotate behind an svg mask, giving the apparence of the line animating
.path-rotation {
  height: 34px;
  width: 34px;
  margin: 34px 34px 0 0;
  transform: rotate(0deg);
  transform-origin: 100% 0;
  &:before {
    content: '';
    display: block;
    width: 30px;
    height: 34px;
    margin: 0 4px 0 0;
    background: @color;
  }
}

// box rotation animation
@keyframes rotate-out {
  0% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-in {
  0% {
    transform: rotate(360deg);
  }
  40% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

// offset moves
// dasharray is the dash size
// need to be able to control dash space size.

.hamburglar.is-open {
  .path {
    animation: dash-in @animation linear normal;
    animation-fill-mode:forwards;
  }
  .animate-path {
    animation: rotate-in @animation linear normal;
    animation-fill-mode:forwards;
  }
}

.hamburglar.is-closed {
  .path {
    animation: dash-out @animation linear normal;
    animation-fill-mode:forwards;
  }
  .animate-path {
    animation: rotate-out @animation linear normal;
    animation-fill-mode:forwards;
  }
}

.path {
  stroke-dasharray: 240;
  stroke-dashoffset: 240;
  stroke-linejoin: round;
}

@keyframes dash-in {
  0% {
    stroke-dashoffset: 240;
  }
  40% {
    stroke-dashoffset: 240;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes dash-out {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: 240;
  }
  100% {
    stroke-dashoffset: 240;
  }
}



// All good burgers need filling!

.burger-icon {
  position: relative;
  top: 8px;
  left: 10px;
  height: 38px;
  width: 38px;
}

.burger-container {
  position: relative;
  height: 28px;
  width: 30px;
}

.burger-bun-top,
.burger-bun-bot,
.burger-filling {
  position: absolute;
  display: block;
  height: 4px;
  width: 30px;
  border-radius: 2px;
  background: @color;
}

.burger-bun-top {
  top: 0;
  transform-origin: 29px 0px;
}

.burger-bun-bot {
  bottom: 4px;
  transform-origin: 30px 5px;
}
//.burger-filling {
//  @include transition(all,(@animation/2.5),ease-in-//out);
//}
// relative parent is the button
.burger-filling {
  top: 10px;
}





// burger ring container
.burger-ring {
  position: absolute;
  top: 0;
  left: 0;
  width: 38px;
  height: 38px;
}

.svg-ring {
  width: 38px;
  height: 38px;
}


// bun animations
.hamburglar.is-open {
  .burger-bun-top {
    animation: bun-top-out @animation linear normal;
    animation-fill-mode:forwards;
  }
  .burger-bun-bot {
    animation: bun-bot-out @animation linear normal;
    animation-fill-mode:forwards;
  }
}
.hamburglar.is-closed {
  .burger-bun-top {
    animation: bun-top-in @animation linear normal;
    animation-fill-mode:forwards;
  }
  .burger-bun-bot {
    animation: bun-bot-in @animation linear normal;
    animation-fill-mode:forwards;
  }
}

@keyframes bun-top-out {
  0% {
    left: 0;
    top: 0;
    transform: rotate(0deg);
  }
  20% {
    left: 0;
    top: 0;
    transform: rotate(15deg);
  }
  80% {
    left: -5px;
    top: 0;
    transform: rotate(-60deg);
  }
  100% {
    left: -5px;
    top: 1px;
    transform: rotate(-45deg);
  }
}

@keyframes bun-bot-out {
  0% {
    left: 0;
    transform: rotate(0deg);
  }
  20% {
    left: 0;
    transform: rotate(-15deg);
  }
  80% {
    left: -5px;
    transform: rotate(60deg);
  }
  100% {
    left: -5px;
    transform: rotate(45deg);
  }
}


@keyframes bun-top-in {
  0% {
    left: -5px;
    bot: 0;
    transform: rotate(-45deg);
  }
  20% {
    left: -5px;
    bot: 0;
    transform: rotate(-60deg);
  }
  80% {
    left: 0;
    bot: 0;
    transform: rotate(15deg);
  }
  100% {
    left: 0;
    bot: 1px;
    transform: rotate(0deg);
  }
}

@keyframes bun-bot-in {
  0% {
    left: -5px;
    transform: rotate(45deg);
  }
  20% {
    left: -5px;
    bot: 0;
    transform: rotate(60deg);
  }
  80% {
    left: 0;
    bot: 0;
    transform: rotate(-15deg);
  }
  100% {
    left: 0;
    transform: rotate(0deg);
  }
}


// burger filling
.hamburglar.is-open {
  .burger-filling {
    animation: burger-fill-out @animation linear normal;
    animation-fill-mode:forwards;
  }
}

.hamburglar.is-closed {
  .burger-filling {
    animation: burger-fill-in @animation linear normal;
    animation-fill-mode:forwards;
  }
}

@keyframes burger-fill-in {
  0% {
    width: 0;
    left: 30px;
  }
  40% {
    width: 0;
    left: 40px;
  }
  80% {
    width: 30px;
    left: -6px;
  }
  100% {
    width: 30px;
    left: 0px;
  }
}

@keyframes burger-fill-out {
  0% {
    width: 30px;
    left: 0px;
  }
  20% {
    width: 42px;
    left: -6px;
  }

  40% {
    width: 0;
    left: 40px;
  }

  100% {
    width: 0;
    left: 30px;
  }
}
//FIN Animacion BT MENU





/*Empieza seccion Sobre Mi*/
.sobreMi, .trabajos, .contacto{
  p{
    text-align: center;
    color:red;
  }
}

.sobreMi{
  .row{
    height: 100%;
  }

  .yo{
    display: inline-block;
    width: 40%;
    float: left;
    background-color: @colorW;
    height: 100%;
    margin: 0px;
    position: relative;

    .me{
      position: absolute;
      right: 0px;
      max-width: 490px;
      width: 250px;
      height: 100%;
      //background-color: rgba(255, 0, 0, .2);
      display: table;

      .content{
        display: table-cell;
        vertical-align: middle;

        figure{
          height: 360px;
          padding: 0px 20px 0px 10px;
          position: relative;

          img{
            border: 6px solid @colorPrincipal;
            border-radius: 50%;
            max-width: 206px;
          }

          .blackLayer{
            height: 206px;
            position: absolute;
            background-color: rgba(0,0,0,.8);
            width: 206px;
            top: 6px;
            border-radius: 50%;
            left: 16px;
            opacity: 0;
            display: table;

            .infoBlackLayer{
              width:206px;
              height: 70px;
              position: absolute;
              top: 50%;
              margin-top: -35px;
              overflow: hidden;

              h3, p{
                text-align: center;
                color: @colorW;
                font-family: @fontSecundaria;
                font-size: 24px;
                margin-left: -300px;
                .VisibleH3BlackLayer;
              }
              p{
                font-size: 46px;
                margin-left: 300px;
              }
            }
          }

        }

        figure figcaption h2{
          color: @colorPrincipal;
          font-family: @fontSecundaria;
          font-weight: 700;
          font-size: 30px;

          p{
            text-align: left;
            font-family: @fontSecundaria;
            color: @colorPrincipal;
            font-size: 16px;
            text-transform: uppercase;
          }
        }
        figure figcaption p.descripcion{
          font-family: @fontPrincipal;
          color: @colorSecudario;
          font-weight: 400;
          text-align: left;
          font-size: 12px;
          line-height: 15px;
          padding-top: 10px;
          word-break: break-word;
          white-space: pre-wrap;
        }
      }
    }
  }

  .perfil{
    display: inline-block;
    float: left;
    width: 60%;
    background-color: @colorWG;
    height: 100%;
    margin: 0px;
    position: relative;

    .knowledge{
      position: absolute;
      left: 0px;
      max-width: 710px;
      width: 400px;
      height: 100%;
      //background-color: rgba(0, 255, 0, .2);
      display: table;
      padding: 0px 10px 0px 20px;

      .content{
        display: table-cell;
        vertical-align: middle;
        //background-color: red;

        ul{
          display: block;
          height: 360px;
          padding-left: 10px;

          li{
            float: left;
            width: 100px;
            height: 100px;
            background-color: @colorG;
            border-radius: 50%;
            margin-right: 20px;
            margin-bottom: 30px;
            overflow: hidden;
            .ColorTransition;

            i{
              display: block;
              width: 40px;
              height: 40px;
              //margin:16px auto 0px auto;
              margin:30px auto 0px auto;
              background-size: 1300%;
              background-image: url(../img/icons.svg);
              .UpIcon;
            }

            p{
              padding-top: 5px;
              font-family: @fontPrincipal;
              color: @colorW;
              font-size: 12px;
              margin-left: 100px;
              white-space: nowrap;
              .LeftTextIcon;
            }

            //li:hover
            &:hover{
              background-color: @colorPrincipal;

              i{
                margin:16px auto 0px auto;
              }

              p{
                margin-left: 0px;
              }
            }

          }
        }
      }
    }
  }
}
/*FIN Empieza seccion Sobre Mi*/

//Empieza seccion TRABAJOS
.trabajos > ul{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 320px;
  margin: -160px auto 0px -300px;

  li{
    background-color: @colorG;
    display: table;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 75px;
    float: left;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;

    .ColorTransition;

    &.tercerItem{
      margin-right: 0px;
    }

    .hoverWork{
      height: 150px;
      /* overflow: hidden; */
      width: 300px;
      position: absolute;
      .LeftTextIcon;

      h3{
        width: 150px;
        height: 150px;
        display: block;
        text-align: center;
        font-family: @fontSecundaria;
        font-size: 16px;
        color: rgba(0,0,0,.8);
        float: left;
        line-height: 150px;
      }
      span{
        float: left;
        width: 150px;
        height: 150px;
        line-height: 110px;
        display: block;
        text-align: center;
        font-family: @fontPrincipal;
        color: @colorW;
        font-size: 14px;

        i{
          width: 40px;
          height: 40px;
          display: block;
          margin: 0px auto;
          position: relative;
          top: 40px;
          background-size: 1300%;
        }
      }
    }

    //LI hover
    &:hover{
      background-color: @colorPrincipal;

      .hoverWork{
        margin-left: -150px;
      }
    }
  }
}



    //Empieza TRABAJO
    .myWork{
      position: fixed;
      top: 0px;
      right: 0px;
      width: 0%;
      height: 0%;
      background-color: @colorPrincipal;
      overflow: hidden;


      .closeMyWork{
        width: 100px;
        height: 20px;
        position: absolute;
        right: 50px;
        top: 10px;
        background-color: transparent;
        border: 1px solid @colorW;
        font-family: @fontPrincipal;
        font-size: 10px;
        line-height: 20px;
        text-align: center;
        color: @colorW;
        font-weight: lighter;
        cursor: pointer;
        .ColorTransition;

        &:hover{
          background-color: @colorPrincipal;
          border: 1px solid transparent;
        }
      }

      .galeriaWork{
        width: 800px;
        height: 500px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -400px;
        margin-top: -250px;
        overflow: hidden;
        position: relative;

        .descripcionWork{
          position: absolute;
          top: 100px;
          right: 20px;
          width: 250px;

          h3{
            font-family: @fontSecundaria;
            color: @colorPrincipal;
            font-size: 18px;
            text-align: left;
            padding-bottom: 10px;
          }
          p{
            line-height: 16px;
            color: @colorW;
            font-family: @fontPrincipal;
            font-size: 12px;
            text-align: left;
          }

          .tecnologiasWork{
            overflow: hidden;
            padding-top: 20px;
            
            ul{
              overflow: hidden;
              li{
                width: 40px;
                height: 40px;
                float: left;
                margin-right: 20px;

                i{
                  display: block;
                  height: 40px;
                  width: 40px;
                  img{
                    display: block;
                    height: 40px;
                    width: 40px;
                  }
                }
              }
            }
          }
        }

        .works{
          width: 2400px;
          height: 100%;
          overflow: hidden;

          li{
            width: 800px;
            height: 100%;
            display: block;
            float: left;
          }
        }
      }


    }

    .workUnActive{
      .AperturaMyWorkActive;
    }
    .workActive{
      .AperturaMyWork;
    }


    //FIN Empieza TRABAJO


//FIN Empieza seccion TRABAJOS










