
//Verde
@colorPrincipal: #24aa92;
//Negro
@colorSecudario: #171717;
//Blanco Puro
@colorW: #ffffff;
//BlancoGris
@colorWG:#f3f3f3;
//@Gris
@colorG:#cdcdcd;

//Fuentes
@fontPrincipal: 'Roboto', Arial, sans-serif;
@fontSecundaria: 'Racing Sans One', Arial, sans-serif;

//Tamanyos fuentes


 body, main{
  height: 100%;
  width: 100%;
  background-color: @colorSecudario;
}
body{
/*  overflow: hidden;
*/}
img{
  max-width: 100%;
}
header{
  display: block;
  position: absolute;
  background-color: @colorPrincipal;
}

main{
  position: relative;
}

section{
  width: 100%;
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid white;
}
.home{
  height: 100%;
  background-color: #1f1f1f;
  background-repeat: no-repeat;
  background-position: center;


  .containHome{
    width: 60%;
    height: 100px;
    margin: 0px auto;
    position: relative;
    top: 40%;

    h1{
      white-space: pre-wrap;
      color: @colorPrincipal;
      text-align: center;
      padding-top: 30px;
      font-family: @fontPrincipal;
      font-weight: 700;

      span{
        font-weight: 100;
        display: inline-block;
      }
    }
  }

  img.logo{
    display: block;
    margin: 0px auto;
  }

  .scrollDown{
    width: 100%;
    color: @colorW;
    position: absolute;
    bottom: 10px;
    text-align: center;
    height: 40px;

    i{
      display: block;
      height: 40px;
      width: 40px;
    }
  }
}


header{
  position: fixed;
  z-index: 100;
  left: -320px;
  width: 320px;
  height: 100%;
  background-color: @colorPrincipal;

  transition-property: left;
  transition-duration: .4s;
  transition-timing-function: cubic-bezier(.02,.62,.45,.85);
  transition-delay: 0s;

  .menu{
    cursor: pointer;
    position: absolute;
    top: -35px;
    right: -50px;
    display: block;
    width: 50px;
    height: 100%;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
  }

  h1{
    text-indent: -999999px;

    a{
      display: block;
      img{
        width: 50%;
        display: block;
        margin: 40px auto 0px auto;
      }
    }

  }


  nav{
    margin-top: 120px;
    ul{
      overflow: hidden;

      li{
        display: block;
        font-family: @fontPrincipal;
        font-weight: 100;
        text-align: center;

        transition-property: background-color;
        transition-duration: .4s;
        transition-timing-function: cubic-bezier(.02,.62,.45,.85);
        transition-delay: 0s;


        a{
          padding: 12px 0px;
          display: block;
          font-family: @fontPrincipal;
          font-weight: 100;
          text-align: center;
          color: @colorW;
          text-decoration: none;

          transition-property: color;
          transition-duration: .4s;
          transition-timing-function: cubic-bezier(.02,.62,.45,.85);
          transition-delay: 0s;

          &:hover{
            color: @colorSecudario;
          }
        }

        &:hover{
          color: @colorW;
          background-color: #46bba6;
        }

        &.currentSection{
          color: @colorW;
          background-color: #46bba6 !important;
          a{
            color: @colorSecudario;
          }
        }
      }
    }
  }

}

header.headerOpen{
  left: 0px;
}

.currentSection{
  transition-property: margin-left;
  transition-duration: .4s;
  transition-timing-function: cubic-bezier(.02,.62,.45,.85);
  transition-delay: 0s;
}

.currentSection.moveSection{
  margin-left: 320px;
}



//Animacion BT MENU
@color: #fff;		  // icon color
@blue: #158fef;	  // background color
@animation: 0.6s;	// animation speed
@scale: 1;
.hamburglar {
  transform: scale(@scale);
  margin: 40px auto;
  position: relative;
  display: block;
  width: 38px;
  height: 100%;
  -webkit-touch-callout: none;
  user-select: none;
}
// transition mask
.path-burger {
  position: absolute;
  top: 0;
  left: 0;
  height: 38px;
  width: 38px;
  // two masks because... browser support.
  mask: url(#mask);
  -webkit-mask-box-image: url(https://raygun.io/upload/mask.svg);
}

.animate-path {
  position: absolute;
  top: 0;
  left: 0;
  width: 38px;
  height: 38px;
}

// what this does is create a small square that I then rotate behind an svg mask, giving the apparence of the line animating
.path-rotation {
  height: 34px;
  width: 34px;
  margin: 34px 34px 0 0;
  transform: rotate(0deg);
  transform-origin: 100% 0;
  &:before {
    content: '';
    display: block;
    width: 30px;
    height: 34px;
    margin: 0 4px 0 0;
    background: @color;
  }
}

// box rotation animation
@keyframes rotate-out {
  0% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-in {
  0% {
    transform: rotate(360deg);
  }
  40% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

// offset moves
// dasharray is the dash size
// need to be able to control dash space size.

.hamburglar.is-open {
  .path {
    animation: dash-in @animation linear normal;
    animation-fill-mode:forwards;
  }
  .animate-path {
    animation: rotate-in @animation linear normal;
    animation-fill-mode:forwards;
  }
}

.hamburglar.is-closed {
  .path {
    animation: dash-out @animation linear normal;
    animation-fill-mode:forwards;
  }
  .animate-path {
    animation: rotate-out @animation linear normal;
    animation-fill-mode:forwards;
  }
}

.path {
  stroke-dasharray: 240;
  stroke-dashoffset: 240;
  stroke-linejoin: round;
}

@keyframes dash-in {
  0% {
    stroke-dashoffset: 240;
  }
  40% {
    stroke-dashoffset: 240;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes dash-out {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: 240;
  }
  100% {
    stroke-dashoffset: 240;
  }
}



// All good burgers need filling!

.burger-icon {
  position: relative;
  top: 8px;
  left: 10px;
  height: 38px;
  width: 38px;
}

.burger-container {
  position: relative;
  height: 28px;
  width: 30px;
}

.burger-bun-top,
.burger-bun-bot,
.burger-filling {
  position: absolute;
  display: block;
  height: 4px;
  width: 30px;
  border-radius: 2px;
  background: @color;
}

.burger-bun-top {
  top: 0;
  transform-origin: 29px 0px;
}

.burger-bun-bot {
  bottom: 4px;
  transform-origin: 30px 5px;
}
//.burger-filling {
//  @include transition(all,(@animation/2.5),ease-in-//out);
//}
// relative parent is the button
.burger-filling {
  top: 10px;
}





// burger ring container
.burger-ring {
  position: absolute;
  top: 0;
  left: 0;
  width: 38px;
  height: 38px;
}

.svg-ring {
  width: 38px;
  height: 38px;
}


// bun animations
.hamburglar.is-open {
  .burger-bun-top {
    animation: bun-top-out @animation linear normal;
    animation-fill-mode:forwards;
  }
  .burger-bun-bot {
    animation: bun-bot-out @animation linear normal;
    animation-fill-mode:forwards;
  }
}
.hamburglar.is-closed {
  .burger-bun-top {
    animation: bun-top-in @animation linear normal;
    animation-fill-mode:forwards;
  }
  .burger-bun-bot {
    animation: bun-bot-in @animation linear normal;
    animation-fill-mode:forwards;
  }
}

@keyframes bun-top-out {
  0% {
    left: 0;
    top: 0;
    transform: rotate(0deg);
  }
  20% {
    left: 0;
    top: 0;
    transform: rotate(15deg);
  }
  80% {
    left: -5px;
    top: 0;
    transform: rotate(-60deg);
  }
  100% {
    left: -5px;
    top: 1px;
    transform: rotate(-45deg);
  }
}

@keyframes bun-bot-out {
  0% {
    left: 0;
    transform: rotate(0deg);
  }
  20% {
    left: 0;
    transform: rotate(-15deg);
  }
  80% {
    left: -5px;
    transform: rotate(60deg);
  }
  100% {
    left: -5px;
    transform: rotate(45deg);
  }
}


@keyframes bun-top-in {
  0% {
    left: -5px;
    bot: 0;
    transform: rotate(-45deg);
  }
  20% {
    left: -5px;
    bot: 0;
    transform: rotate(-60deg);
  }
  80% {
    left: 0;
    bot: 0;
    transform: rotate(15deg);
  }
  100% {
    left: 0;
    bot: 1px;
    transform: rotate(0deg);
  }
}

@keyframes bun-bot-in {
  0% {
    left: -5px;
    transform: rotate(45deg);
  }
  20% {
    left: -5px;
    bot: 0;
    transform: rotate(60deg);
  }
  80% {
    left: 0;
    bot: 0;
    transform: rotate(-15deg);
  }
  100% {
    left: 0;
    transform: rotate(0deg);
  }
}


// burger filling
.hamburglar.is-open {
  .burger-filling {
    animation: burger-fill-out @animation linear normal;
    animation-fill-mode:forwards;
  }
}

.hamburglar.is-closed {
  .burger-filling {
    animation: burger-fill-in @animation linear normal;
    animation-fill-mode:forwards;
  }
}

@keyframes burger-fill-in {
  0% {
    width: 0;
    left: 30px;
  }
  40% {
    width: 0;
    left: 40px;
  }
  80% {
    width: 30px;
    left: -6px;
  }
  100% {
    width: 30px;
    left: 0px;
  }
}

@keyframes burger-fill-out {
  0% {
    width: 30px;
    left: 0px;
  }
  20% {
    width: 42px;
    left: -6px;
  }

  40% {
    width: 0;
    left: 40px;
  }

  100% {
    width: 0;
    left: 30px;
  }
}
//FIN Animacion BT MENU





/*Empieza seccion Sobre Mi*/
.sobreMi, .trabajos, .contacto{
  p{
    text-align: center;
  }
}

.sobreMi{
  .row{
    height: 100%;
  }

  .yo{
    display:block;
    width: 100%;
    background-color: @colorW;
    height: 500px;
    margin: 0px;
    position: relative;

    .me{
      margin: 0px auto;
      /*position: absolute;
      right: 0px;*/
      max-width: 490px;
      width: 250px;
      height: 100%;
      /*background-color: rgba(255, 0, 0, .2);*/
      display: table;

      .content{
        display: table-cell;
        vertical-align: middle;

        figure{
          width: 300px;
          margin: 0px auto;
          height: 360px;
          padding: 0px 20px 0px 10px;
          position: relative;

          img{
            margin: 0px auto;
            display: block;
            border: 6px solid @colorPrincipal;
            border-radius: 50%;
            max-width: 206px;
          }
          
          figcaption{
            width: 260px;
            margin: 20px auto 0px auto;
          }

        }

        figure figcaption h2{
          color: @colorPrincipal;
          font-family: @fontSecundaria;
          font-weight: 700;
          font-size: 30px;
          text-align: center;

          p{
            text-align: center;
            font-family: @fontSecundaria;
            color: @colorPrincipal;
            font-size: 16px;
            text-transform: uppercase;
          }
        }
        figure figcaption p.descripcion{
          font-family: @fontPrincipal;
          color: @colorSecudario;
          font-weight: 400;
          text-align: center;
          font-size: 12px;
          line-height: 15px;
          padding-top: 10px;
          word-break: break-word;
          white-space: pre-wrap;
        }
      }
    }
  }

  .perfil{
    display: block;
    width: 100%;
    background-color: @colorPrincipal;
    height: 100%;
    margin: 0px;
    position: relative;

    .knowledge{
      width: 100%;
      overflow: hidden;
      padding: 20px 0px;
      /*display: table;*/

      .content{
        vertical-align: middle;

        ul{
          overflow: hidden;
          display: block;
          text-align: center;

          li{
            float: left;
            width: 46%;
            height: 100px;
/*            background-color: @colorG;*/            margin: 0px 2%;
            margin-bottom: 30px;
            overflow: hidden;
            

            i{
              display: block;
              width: 40px;
              height: 40px;
              margin:16px auto 0px auto;
              background-size: 1300%;
              background-image: url(../img/icons.svg);
             
            }

            p{
              padding-top: 5px;
              font-family: @fontPrincipal;
              color: @colorW;
              font-size: 12px;
              /*margin-left: 200px;*/
              white-space: nowrap;
              .LeftTextIcon;
            }

           
            &:hover{
              background-color: @colorPrincipal;

              i{
                margin:16px auto 0px auto;
              }

              p{
                margin-left: 0px;
              }
            }

          }
        }
      }
    }
  }
}
/*FIN Empieza seccion Sobre Mi*/



/*Trabajos*/
.trabajos{
  position: relative;
  ul{
    overflow: hidden;
    width: 400%;
    background-color: @colorWG;
    .AnimateWork;

    li{
      float: left;
      position: relative;

      img{
        display: block;
        width: 100%;
        margin: 0px auto;
      }

      .seeMore{
        display: inline-block;
        width: 40px;
        height: 40px;
        background-color: @colorPrincipal;
        position: absolute;
        z-index: 1;
        right: 10px;
        bottom: 20px;
        color: @colorW;
        font-size: 22px;
        text-align: center;
        line-height: 38px;
        cursor: pointer;
      }
    }
  }

}

.controlsGaleria{
  display: none;
}

.no-touchevents .controlsGaleria{
    display: block;
    height: 40px;
    background-color: @colorPrincipal;
    cursor: pointer;

    span{
      display: inline-block;
      height: 40px;
      
      i{
        display: block;
        width: 40px;
        height: 40px;
        margin: 0px auto;
      
        
      }
    }
    span:hover i{
        opacity:.5;
      }
  }
/*FIN Trabajos*/










/*CONTACTO*/
section.contacto{
  position: relative;
  background-color: @colorWG;
  padding-bottom: 50px;
  
  h2{
    padding-top: 20px;
  }

  p{
    color: @colorSecudario;
    font-size: 16px;
    line-height: 20px;
    padding-top: 20px;
    text-align: center;
    margin: 0px auto;
    width: 60%;
    font-family: @fontPrincipal;
    font-weight: 100;
    padding-bottom: 30px;
  }
  #contactForm{
    overflow: hidden;
    width: 80%;
    display: block;
    margin: 0px auto;

    .grupo{
      margin-bottom: 20px;
      width: 100%;
      height: 40px;
      font-family: @fontPrincipal;
      font-weight: 100;
      font-size: 18px;
      color: @colorPrincipal;
      display: inline-table;
      box-sizing:border-box;
      
      span{
          display: table-cell;
          width: 40px;
          height: 40px;
          background-color: @colorPrincipal;
          vertical-align: middle;
          padding: 0px;

          i{
            width: 20px;
            height: 20px;
            display: block;
            margin: 0px auto;
          }
      }
      

      input{
        box-sizing: border-box;
        width: 100%;
        height: 40px;
        border: none;
        color: @colorPrincipal;
        font-family: @fontPrincipal;
        font-weight: 100;
        font-size: 14px;
        padding-left: 5px;
      }
    }

    textarea{
      box-sizing:border-box;
      width: 100%;
      margin: 0px;
      border: 0px;
      color: @colorPrincipal;
      font-family: @fontPrincipal;
      font-weight: 100;
      font-size: 14px;
      padding: 10px;
    }

    .btFormContact{
      display: block;
      float: right;
      width: 120px;
      height: auto;
      padding: 10px 0px;
      text-align: center;
      font-family: @fontPrincipal;
      background-color: @colorPrincipal;
      border: none;
      color: @colorW;
      font-size: 14px;
      margin-top: 20px;
      cursor: pointer;

      &:disabled{
        opacity:.5;
        cursor:n-resize;
      }
    }

    .ng-invalid{
      color: red !important;
    }
  }
}




@media screen and (min-width: 640px) {

  /*Mi foto y el texto*/
  .sobreMi .yo{
    height: 400px;
  }
  .sobreMi .yo .me .content figure{
    width: 600px;
    float: left;
    height: auto;

    img{
      float: left;
    }

    figcaption{
      float: left;
      width: 360px;
      margin-left: 20px;

      h2{
        text-align: left;
        p{
           text-align: left;
        }
      }
      p.descripcion{
        text-align: left;
      }
    }

  }

  /*Columnas iconos*/
  .sobreMi .perfil .knowledge .content ul li{
    width: 29.3%;
  }


  /*Galeria*/
  .controlsGaleria{
    position: absolute;
    bottom: 30px;
    width: 100%;
    background-color: transparent !important;

    span{
      position: absolute;
      background-color: @colorPrincipal;
      width: 40px;
    }

    & span:first-child{
      left: 40px;
    }

    & span:last-child{
      right: 40px;
    }
  }

  .trabajos > ul li .seeMore{
    right: 0px;
    bottom: 45%;
  }

  .no-touchevents header .menu{
    height: auto;
  }


  /*Formulario de contacto*/
  .contacto #contactForm .grupo{
    width: 48% !important;
    float: left;
  }
  .contacto #contactForm > .grupo2 {
   float: right;
   
  }

}

@media screen and (min-width: 768px) {
  .sobreMi{
    .perfil{

            .knowledge{

              .content{

                ul{
                  max-width: 768px;
                  margin: 0px auto;

                  li{
                    display: inline-block;
                    float: none;
                    width: 20%;
                    i{
                      margin:30px auto 0px auto;  
                      .UpIcon;
                    }

                    .porcentaje{
                      margin-top: 10px;
                    }

                    &:hover{
                    i{
                      margin: 16px auto 0px auto !important;
                    }

                  }
                  }
                  
                }
              }
            }
    }  
  }


  .trabajos{

    .controlsGaleria{
      max-width: 800px;
      left: 50%;
      margin-left: -400px;
    }

    ul{
      li{
        img{
          max-width: 800px !important;    
        }
      }
    }
  }

  .contacto{
    form{
      max-width: 630px !important;
    }
  }
  
}